<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../../js/vue.js"></script>
</head>

<body>
  <div id='app'>
    <!-- label的好处：点文字也可选中 -->
    <label for="male">
      <!-- 单选框 -->
      <input type="checkbox" name="" id="license" v-model='isAgree'>同意协议
    </label>
    <h2>选择的是{{isAgree}}</h2>
    <button :disabled='!isAgree'>下一步</button>
    <!-- 2. 多选框 实现收集多个选项发送给服务器 -->
    <!-- <label for="">
      <input type="checkbox" name="" id="" value='篮球' v-model='selectedhobbies'>篮球
      <input type="checkbox" name="" id="" value='足球' v-model='selectedhobbies'>足球
      <input type="checkbox" name="" id="" value='乒乓球' v-model='selectedhobbies'>乒乓球
      <input type="checkbox" name="" id="" value='排球' v-model='selectedhobbies'>排球
    </label> -->
    <label for="item" v-for='item in originhobbies'> 
      <input type="checkbox" name="" id="item" :value='item' v-model='selectedhobbies'>{{item}}
    </label>
    <h2>选择的是{{selectedhobbies}}</h2>
  </div>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        message: '测试用',
        isAgree: true,
        selectedhobbies: [],
        originhobbies: ['篮球', '足球', '乒乓球', '排球', '台球', '游泳'] // 传入数据
      },
      computed: {

      },
      methods: {
        valueChange(event) {
          this.message = event.target.value;
        }
      }
    })
  </script>
</body>

</html>